*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.kotlin
/app/build
/app/release
/deliverables
/*.apk
/*.aab
*.keystore
*.jks
key.pem
device-logcat.txt
gradle.properties.local
app/src/main/assets/model/*.task
